* {
  margin: 0;
  padding: 0;
}

:root {
  /* //....... Color ........// */
  --primary-color: #ff3c78;
  --light-black: rgba(0, 0, 0, 0.89);
  --black: #000;
  --white: #fff;
  --grey: #aaa;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Railway, serif;
  font-weight: 600;
}

ul {
  list-style: none;
}
ul li {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.has-sidebar {
  display: flex;
  padding-top: 1rem;
  gap: 2rem;
}

.navbar {
  box-shadow: 0 5px 4px rgba(146, 161, 176, 0.15);
  position: sticky;
  top: 0;
  background: #fff;
  color: #000;
  z-index: 100;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.navbar .navbar-container img {
  margin-left: 3rem;
}
.navbar .navbar-container ul a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
.navbar .navbar-container ul a:after {
  content: "";
  position: absolute;
  background: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar .navbar-container ul a:hover:after {
  width: 100%;
}
.navbar .navbar-container .menu-items {
  order: 2;
  display: flex;
  margin-right: 3rem;
}
.navbar .navbar-container .menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.home-page {
  height: 80vh;
  overflow: hidden;
}
.home-page img {
  height: auto;
  width: 100%;
  background-position: center;
  position: relative;
  background-size: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.home-page .home-txt {
  position: absolute;
  top: 37%;
  left: 5%;
}
.home-page .home-txt a {
  text-decoration: none;
  color: #fff;
}
.home-page .home-txt button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.home-page .home-txt .bx-right-arrow-alt {
  font-size: 25px;
  padding-left: 5px;
}
.home-page p {
  color: #ff3c78;
  font-weight: 600;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}
.home-page h2 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 3px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.89);
}
.home-page .home-label p {
  color: grey;
  font-size: 14px;
  padding-top: 10px;
}

/* //........ Collections ........// */
.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
}

.content {
  width: 330px;
  margin: 20px;
  position: relative;
}
.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}
.content:hover::after {
  opacity: 1;
}
.content img {
  width: 100%;
  height: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.content:hover .img-content {
  opacity: 1;
  top: 50%;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}
.img-content p {
  font-size: 1.6rem;
}
.img-content button {
  border: none;
  background-color: #ff3c78;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.img-content button:hover {
  background: #fff;
  color: #ff3c78;
}
.img-content button:hover ~ .img-content a {
  color: #ff3c78;
}
.img-content a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}
.img-content a:hover {
  color: #ff3c78;
}

/* //........ seller  ........// */
.product-wrapper h2 {
  margin-top: 65px;
  margin-bottom: 20px;
}
.product-wrapper .product {
  width: 250px;
  height: 370px;
  /* border: 2px solid black; */
}
.product-wrapper img {
  height: 250px;
  width: 250px;
}
.product-wrapper a:hover {
  color: #f05e8a;
}
.product-wrapper .price {
  display: flex;
  justify-content: space-between;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.primary-btn a {
  text-decoration: none;
  color: var(--white);
}
.primary-btn a:hover {
  font-weight: 600;
}
.primary-btn a:hover button {
  background-color: var(--white);
  color: #f05e8a;
}
.primary-btn button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f05e8a;
  color: var(--white);
  border: none;
  border-radius: 15px;
  font-weight: 500;
  border: 1px solid #f05e8a;
  transition: 0.5s;
}

/* //........ SHOP ...... // */
.sidebar {
  width: 18em;
  margin-top: 65px;
  margin-bottom: 20px;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 10px;
  padding: 1rem 0em;
  display: flex;
  flex-direction: column;
}
.sidebar h4 {
  margin-bottom: 5px;
  padding-left: 1rem;
}
.sidebar .filter {
  margin-bottom: 1.5rem;
}
.sidebar .filter .filter-name {
  background: rgba(150, 150, 150, 0.1);
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.sidebar .filter > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar .filter .filter-item {
  padding-top: 0.5rem;
}
.sidebar .filter .filter-item li {
  margin-bottom: 0.3rem;
}

/* //........ Product Description ...... // */
.product-desc {
  margin-top: 6rem;
  display: flex;
  gap: 4rem;
}
.product-desc .product-img {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.product-desc .product-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-desc .product-order .desc .name-of-p {
  font-size: 2rem;
  font-weight: 600;
}
.product-desc .product-order .desc .price {
  font-size: 2.5rem;
  color: #b02929;
  font-weight: 400;
}
.product-desc .product-order .add-to-cart {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}
.product-desc .product-order .add-to-cart .counter {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.product-desc .product-order .add-to-cart .counter button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  border: 0;
}
.product-desc .product-order .add-to-cart .counter input {
  height: 2rem;
  width: 3rem;
  border-radius: 0;
  text-align: center;
  appearance: textfield;
  -moz-appearance: textfield;
}
.product-desc .product-order .add-to-cart .counter input::-webkit-outer-spin-button, .product-desc .product-order .add-to-cart .counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* //........ Cart ...... // */
#cart {
  background-color: rgba(150, 150, 150, 0.1);
}
#cart .container {
  padding-top: 3.5rem;
}
#cart .title {
  font-size: 2rem;
  font-weight: 500;
}
#cart .title span {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.89);
  font-weight: 300;
}

.cart {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}
.cart .items {
  flex-grow: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.cart .items .item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
.cart .items .item img {
  width: 8rem;
}
.cart .items .item .item-desc {
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.cart .items .item .item-name {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.cart .items .item .attr {
  font-weight: 400;
}
.cart .items .item .attr span {
  font-weight: 300;
  color: #ff3c78;
}
.cart .items .item .price {
  padding: 0 2rem;
  font-weight: 500;
  color: #ff3c78;
}
.cart .summary {
  width: 250px;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
}
.cart .summary > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.cart .summary div {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.89);
}
.cart .summary div span {
  font-weight: 500;
  color: #ff3c78;
}
.cart .summary .subtotal {
  font-size: 1.1rem;
}
.cart .summary .primary-btn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cart .summary .primary-btn button {
  width: 100%;
}

.address {
  background-color: #fff;
  flex-grow: 1;
  display: grid;
  border-radius: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.address .field {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 1rem;
}
.address .field label {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.address .field input {
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 0.4rem;
  border-width: 1px;
}
.address .addr {
  grid-row: span 3/span 3;
}
.address .addr textarea {
  flex-grow: 1;
  text-wrap: wrap;
  line-height: 1.4;
  padding: 5px;
  font-size: 0.9rem;
}

/* //........ Footer ...... // */
footer {
  width: 100%;
  background: var(--black);
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
footer .footer-container .content_1 p,
footer .footer-container .content_4 p {
  color: var(--grey);
  margin: 25px 0;
  font-size: 14px;
}
footer .footer-container .content_1 img {
  height: 25px;
  width: 180px;
}
footer .footer-container .content_4 input[type=email] {
  background-color: var(--black);
  border: none;
  color: var(--white);
  outline: none;
  padding: 15px 0;
}
footer .footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .content_4 .bx {
  color: var(--white);
}
footer .footer-container h4 {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 18px;
}
footer .footer-container a {
  display: block;
  text-decoration: none;
  color: var(--grey);
  margin-bottom: 15px;
  font-size: 14px;
}
footer .f-design {
  width: 100%;
  color: var(--white);
  text-align: center;
}
footer .f-design .f-design-txt {
  border-top: 1px solid var(--grey);
  padding: 25px 0;
  font-size: 14px;
  color: var(--grey);
}
footer .f-design a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
